* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 4%;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.section {
    width: 100%;
    height: 20%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px black;
}

.section-text-container {
    padding: 2%;
    font-size: 1.2rem;
    text-indent: 3rem;
    width: 70%;
    height: 100%
}

.section-image-container {
    width: 240;
    height: 400;
}

.section-header {
    text-align: center;
    font-size: 2rem;
    margin: 0%;
}

p {
    margin-bottom: 1%;
    margin-top: 1%;
}
